<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Manager</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <h1>EVENTS</h1>
    <div class="tableResult" th:if="${events != null && events.isEmpty() != true}">
        <div class="rowResultHeader">
            <span class="cellResult" th:text="ID"></span>
            <span class="cellResult" th:text="NAME"></span>
            <span class="cellResult" th:text="THEME"></span>
            <span class="cellResult" th:text="OUTFIT"></span>
            <span class="cellResult" th:text="HOST"></span>
            <span class="cellResult" th:text="ATTENDANCE"></span>
            <span class="cellResult" th:text="DETAILS"></span>
            <span class="cellResult" th:text="MEETING"></span>
        </div>
        <div class="rowResult" th:each="event : ${events}">
            <span class="cellResult" th:text="${event.id}"></span>
            <span class="cellResult" th:text="${event.name}"></span>
            <span class="cellResult" th:text="${event.theme}"></span>
            <span class="cellResult" th:text="${event.outfit}"></span>
            <span class="cellResult" th:text="${event.host}"></span>
            <span class="cellResult" th:text="${event.attendance}"></span>
            <span class="cellResult" th:text="${event.details}"></span>
            <span class="cellResult" th:text="${event.meeting}"></span>
        </div>
    </div>
    <div class="tableResult" th:if="${events == null || events.isEmpty() == true}">
        <h2 th:text="'You have no Events currently registered with us !'" />
    </div>
    <footer>
        <span><a href="#" title="Add a new event" th:href="@{/add-event-form}">Add New Event</a></span><br>
        <span><a href="#" title="Welcome Home Page" th:href="@{/}">Home</a></span>
    </footer>
</body>
