<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Manager</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <h1>PERSONS</h1>
    <div class="tableResult" th:if="${persons != null && persons.isEmpty() != true}">
        <div class="rowResultHeader">
            <div class="cellResult" th:text="ID"></div>
            <div class="cellResult" th:text="NAME"></div>
            <div class="cellResult" th:text="GENDER"></div>
            <div class="cellResult" th:text="POSITION"></div>
            <div class="cellResult" th:text="COMPANY"></div>
            <div class="cellResult" th:text="'BIRTH DATE'"></div>
            <div class="cellResult" th:text="EMAIL"></div>
            <div class="cellResult" th:text="DETAILS"></div>
            <div class="cellResult" th:text="'MEETING LIST'"></div>
        </div>
        <div class="rowResult" th:each="person : ${persons}">
            <div class="cellResult" th:text="${person.id}"></div>
            <div class="cellResult" th:text="${person.name}"></div>
            <div class="cellResult" th:text="${person.gender}"></div>
            <div class="cellResult" th:text="${person.position}"></div>
            <div class="cellResult" th:text="${person.company}"></div>
            <div class="cellResult" th:text="${person.birthDate}"></div>
            <div class="cellResult" th:text="${person.email}"></div>
            <div class="cellResult" th:text="${person.details}"></div>
            <div class="cellResult">
                <ul th:each="meeting : ${person.meetingList}">
                    <li>
                        <p>
                            <a th:href="@{/show-meeting(meetingId=${meeting.id})}">
                                <img th:src="@{img/details.png}" th:alt="'details image'" th:title="DETAILS" />
                            </a>
                        </p>
                        <p th:text="'id: '+${meeting.id}" />
                        <p th:text="'Start: '+${meeting.localDateTimeStart.toLocalDate()}+' '+${meeting.localDateTimeStart.toLocalTime()}"></p>
                        <p th:text="'End: '+${meeting.localDateTimeEnd.toLocalDate()}+' '+${meeting.localDateTimeEnd.toLocalTime()}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tableResult" th:if="${persons == null || persons.isEmpty() == true}">
        <h2 th:text="'You have no Persons currently registered with us !'" />
    </div>
    <footer>
        <div><a href="#" title="Add a new person" th:href="@{/add-person-form}">Add New Person</a></div>
        <div><a href="#" title="Welcome Home Page" th:href="@{/}">Home</a></div>
    </footer>
</body>
